/* HEADER STYLES */

header {
  position: sticky;
  top: 0;
  z-index: 9999;
  border-bottom: 1px solid #ccc;
}

.top-header {
  background-color: black;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.header-wrapper {
  width: 100%;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.logo {
  font-weight: bold;
  font-size: 30px;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navbar li a {
  font-weight: 500;
  opacity: 0.8;
}

.right-side {
  display: flex;
  align-items: center;
  gap: 20px;
}

.right-side .icons {
  display: flex;
  align-items: center;
  gap: 8px;
}

.right-side .searchbox {
  display: flex;
  align-items: center;
  padding: 12px;
  gap: 15px;
  background-color: #f3f4f6;
  border-radius: 8px;
}

.right-side .icons {
  font-size: 20px;
}

.icons {
  display: flex;
}

.icon-container {
  position: relative;
  margin-right: 20px;
}

.icon-badge {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

/* BANNER STYLES */
.banner {
  margin-top: 30px;
  padding: 16px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  border-radius: 8px;
}

.banner h1 {
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 20px;
}

.banner p {
  line-height: 1.5;
  margin-bottom: 30px;
}

.banner .button-shop {
  padding: 10px 20px;
  background-color: white;
  color: black;
  font-weight: 600;
  border-radius: 8px;
}

.flash-sales {
  margin: 50px 0;
}

.product-container {
  margin-top: 20px;
}

.banner-2 {
  margin: 50px 0;
  background-color: black;
  border-radius: 8px;
  padding: 50px 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-2 span {
  font-weight: bold;
  color: #ff6651;
  font-size: 18px;
}

.banner-2 h1 {
  margin: 30px 0;
  color: white;
  font-size: 60px;
  font-weight: 600;
}

.filter-list {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.filter-list .item {
  width: 150px;
  padding: 15px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  color: black;
  display: flex;
  cursor: default;
  align-items: center;
  justify-content: center;
}

.filter-list .item:hover {
  background-color: #f3f4f6;
}

.filter-list .item.active {
  background-color: #ff6651;
  color: white;
}

.explore-product-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.explore-product-container img {
  width: 100%;
  height: 400px;
  object-fit: contain;
  border: 4px dashed #ccc;
  padding: 10px;
  border-radius: 12px;
}

/* Style for FAQ items */
.faq-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 20px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style for FAQ questions */
.faq-question {
  background-color: #f0f0f0;
  color: #333;
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.faq-answer {
  background-color: #fff;
  font-size: 16px;
  padding: 0 15px;
  line-height: 1.6;
  transition: max-height 0.3s ease-in-out;
  max-height: 0;
  overflow: hidden;
}

/* Style for active FAQ answer */
.faq-question.active + .faq-answer {
  padding-top: 15px;
  padding-bottom: 15px;
  max-height: 1000px;
}
/* Style for active FAQ question */
.faq-question.active {
  background-color: #e0e0e0;
}

.service-section {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.service-item {
  flex: 1;
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 50px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.service-item:hover {
  transform: translateY(-5px);
}

.service-icon {
  text-align: center;
  font-size: 50px;
  color: #ff6651;
  margin-bottom: 10px;
}

.service-content {
  text-align: center;
}

.service-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.service-description {
  font-size: 16px;
  color: #666;
}

/* CONBTACT STYLES */

.contact-section {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contact-form {
  flex: 1;
  padding-right: 20px;
}

.contact-form h2,
.contact-map h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group textarea {
  height: 150px;
}

button[type="submit"] {
  background-color: #ff6651;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #e3553f;
}

.error-message {
  display: none;
  color: red;
  font-size: 14px;
}

.input-error + .error-message {
  display: block;
}

.contact-map {
  flex: 1;
  padding-left: 20px;
}

.contact-map iframe {
  width: 100%;
  height: 450px;
  border: none;
  border-radius: 5px;
}

/* FOOTER STYLE */
.footer {
  background-color: #333;
  color: #fff;
  padding: 40px 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-column {
  flex: 1;
  margin-right: 20px;
}

.footer-column:last-child {
  margin-right: 0;
}

.footer-column h3 {
  margin-bottom: 15px;
}

.footer-column p {
  margin-bottom: 10px;
}

.social-icons a {
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
}

#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: opacity 0.3s;
}

#scrollToTopBtn:hover {
  background-color: #555;
}
